.custom-minimize {
  top: 25px;
  right: 84px;
}

.custom-newchat {
  top: 108px;
  right: 84px;
}

.custom-home {
  top: 151px;
  right: 84px;
}

.custom-json-files {
  top: 191px;
  right: 84px;
}

.custom-feedback {
  top: 229px;
  right: 84px;
}

.custom-settings {
  bottom: 81px;
  right: 84px;
}

.custom-profilebtn {
  bottom: 23px;
  right: 84px;
}
